{% extends 'layout.html' %}

{% block content %}

   <h1>Upload an image</h1>
   <hr>

      <form action="/decoder" method="POST" enctype="multipart/form-data">

        <label>Upload a QR Code: </label>
        <input type="file" name="image" id="image">
        <br><br>

        <button style="background: crimson" class="submit">Upload</button>
        <br>
        {% if link %}
        <h3>Your QR Code has the following Data: {{link}} </h3>
        {% endif %}
      </form>
{% endblock %}