{% extends 'layout.html' %}

{% block content %}
<!doctype html>
<html>
    <head>
        <img src="/static/QRCode.jpg" width="300" height="300">
    </head>

    <body>

        <form class = "grid" action = "/encoded" method ="POST">
            <center>
                {% if name %}
                <h3 style= "color: blue; ">{{name}}</h3>
                {% endif %}
            </center>

            <label for = "Name"> Enter Data:</label>
            <input type="text" name="name" id = "name">
            <center><input type="Submit" class = "file_submit"></center>

        </form>

    </body>


</html>
{% endblock %}